<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="__PUBLIC__/Index/css/style.css" rel="stylesheet" type="text/css">
<title>我的商店-首页</title>
<script type="text/javascript" src='__PUBLIC__/Home/js/jquery-1.7.2.min.js'></script>
<script type="text/javascript">
		$(function () {
			$( 'tr[pid!=0]' ).hide();

			$( '.open' ).toggle( function () {
				var index = $( this ).parents('tr').attr('id');
				$( this ).html( '-' );
				$( 'tr[pid=' + index + ']' ).show();
			}, function () {
				var index = $( this ).parents('tr').attr('id');
				$( this ).html( '+' );
				$( 'tr[pid=' + index + ']' ).hide();
			} );

		});
</script>
</head>
<body>
<div id="container">
	<div id="header">
<div id="nav_user">
	<span style="color:yellow">
			<a href="javascript:void(0);">欢迎{$_SESSION['account']}登录！</a>
	</span>
	<a href="{:U('Index/User/register')}">注册</a>
	<a href="{:U('Index/Cart/index')}">购物车</a>
	<a href="{:U('Index/Order/index')}">结帐中心</a>
	<a href="javascript:void(0);">用户管理</a>

	<a href="{:U('Home/Login/index')}">后台管理</a>
	<a href="{:U('Index/Index/logout')}">注销</a>
</div>	</div>
	<div id="nav">
		<ul>
			<li><span><a href="{:U('Index/Goods/index')}">首页</a></span></li>
			<li><span><a href="javascript:void(0);">用户中心</a></span></li>

			<li><span><a href="{:U('Home/Login/index')}">后台管理</a></span></li>
		</ul>
	</div>
	<div id="wrapper">
		<div id="sidebar">
			
<div style="margin-top:10px;"></div>

<div class="category">
	<div class="box_title">商品分类</div>

<table class="table">
		<tr pid='0'>
			<th>展开</th>
			<th>ID</th>
			<th>分类名称</th>
		</tr>
		<foreach name='cate' item='v'>
			<tr id='{$v.id}' pid='{$v.pid}'>
				<td ><button class='open'>+</button></td>
				<td >{$v.id}</td>
				<td>{:str_repeat('&nbsp;&nbsp;', $v['level'])}<if condition='$v["level"] gt 0'>|</if><a href="{:U('Index/Goods/showByCategory',array('id'=>$v['id']))}">{$v.html}{$v.category_name}</a></td>
			</tr>
		</foreach>
</table>




	<div class="box_bottom"><img src="__PUBLIC__/Index/images//0.gif" width="10" height="1" alt=""/></div>
</div>		</div>
		<div id="content">
			<div id="showgoods">
				<h4>店主推荐</h4>
				<div class="goodslist">
				<ul>
					<volist name="goods1" id = "vo" key="k" offset="0" length='3'>
					
						<li>
							<a href="{:U('Index/Goods/showById',array('id'=>$vo['id']))}">
								<img src="{$vo.goods_pic}" width="125" height="120" />
							</a>
							<span>【{$vo.goods_name}】</span>
							<div class="price">￥{$vo.goods_price}</div>
						</li>

					</volist>
					</ul>
				</div>
			</div>
			<div id="buylist">
				<h5>☆最新商品<a href="goodsList.php?act=listgoods&cateid=0">.o0更多</a></h5>
				<div class="newgoods"><ul>
						<volist name="goods" id = "vo" key="k" offset="0" length='6'>
							<li>
								<a href="{:U('Index/Goods/showById',array('id'=>$vo['id']))}">

									<img src="{$vo.goods_pic}" width="150" height="150" /></a>
								<p>【{$vo.goods_name}】</p>
								<p>市场价格￥<label class="quchu">{$vo.goods_price}</label></p>
								<p class="red">本店价格￥{$vo.store_price}</p>
							</li>

						</volist>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="footer"><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<label>『 Right By Christy Lan 』</label></div>

</div>
</body>
</html>